@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Anton);

.disclaimer
{
    display: none;
}

.text span {
   opacity: 0;
}
.text span.revealed {
   opacity: 1;
}
.text span.green {
   color: #27ae60;
}
.text span.red {
   color: #ff0000;
}

html
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
    background-size: cover;
    height: 100vh;
    background: repeating-linear-gradient(rgb(15, 15, 15), rgb(0, 0, 0));
    padding-top: 5vh;
    font-family: 'Press Start 2P';
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
a
{
    text-decoration: none;
    color: inherit;
}
#cover
{
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 5rem 1.5rem black ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    transition: .5s;
}
.diacriticLetter
{
    position: relative;
    top: 4px;
}
.textbox
{
    background: #000;
    border: .3vw solid #fff;
    min-height: 27vh;
    width: 55vw;


    display: flex;
    flex-direction: row;
}
.text {
   font-size: 1vw;
   color: #fff;
   word-spacing: 0.1em;
   
   padding: 1em;
   position: relative;
   line-height: 1.5em;
   
}
 .text::before
{
   content: '* ';
}
#title
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100vw;
    height: 100%;
    animation: title 5s ease-in 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    animation: fadeOut 1.5s ease-out 6s forwards;
}
#cukiniatale
{
    display: none;
    animation: zoom 3s ease-in;
}
@keyframes zoom {
    0%
    {
        transform: scale(1);
    }
    100%
    {
        transform: scale(1.2);
    }
}
.sprite
{
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    margin-bottom: 5vh;
    width: 13vw;
    animation:  float 1s ease-in-out 0s infinite alternate; 
                /* buj 1s ease-in-out 0s infinite alternate; */
    transition: .4s;
    transition-timing-function: ease-out;
}
.sprite:hover
{
    cursor: pointer;
}
.portrait
{
    width: 10vw;
    height: 10vw;
    margin: 1vw;
}
.action
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 55vw;
    margin: 3vh 0;
    width: 50vw;
    height: 43px;
    text-align: center;
}
.square
{
    display: block;
    width: 8vw;
    height: 8vw;
    border: 1px solid #27ae60;
}
.rect
{
    animation: float .8s ease-in-out infinite alternate; 
    margin: 0;
}
#grid
{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}
button
{
    min-height: 50px;
    font-size: 5vh;
    line-height: 30px;
    text-transform: uppercase;
    background: none;
    border: 2px solid #ff7f27;
    color: #ff7f27;
    cursor: pointer;
    padding: 5px 16px 5px 22px;
    position: relative;
    z-index: 100;
    font-family: 'Anton';
    letter-spacing: 4px;
    font-weight: 200;
}
button:focus {outline:0;}
button:hover,.active
{
    border: 2px solid #ffff40 !important;
    color: #ffff40 !important;
}
button:hover:before,.active:before
{
    /* content: "♥";
    color: red;
    font-size: 20pt; */
    content: url(red_heart.png);
    position: absolute;
    left: 3px;
    top:  0px;
}

.arrowButton
{
    width: .8vw;
    height: .8vw;
    border: solid 3px white;
    color: white;
    text-align: center;
    padding: .5vw;
    margin: .3vw;
    
    animation: buttonsShadow 1s steps(2, end) 0s infinite alternate, fadeInOut 20s ease-out 0s forwards;
}

#arrows-field
{
    display: flex;
    flex-direction: row;
    transform: translate(-2%,75%);
}

@keyframes fadeInOut
{
    0%, 100% {
        opacity: 0%;
    }
    10%, 90% {
        opacity: 100%;
    }
}
@keyframes fadeOut
{
    from
    {
        opacity: 100%;
    }
    to
    {
        opacity: 0%;
    }
}
@keyframes buttonsShadow
{
    from {
        transform: translate(0,0);
        box-shadow: none;
    }
    to {
        box-shadow: 4px 4px white;        
        transform: translate(-5px,-5px);
    }
}

@keyframes float {
    
    0%
    {
        transform: translate(0, 0px);
    }
    100%
    {
        transform: translate(0, -20px);
    }
}
/* @keyframes buj {
   
    0%
    {
        transform: rotate(1deg);
    }
    100%
    {
        transform: rotate(-1deg);
    }
} */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(24, 24, 24);
  }

  #secret
{
    display: none;
}
@media screen and (max-width: 1024px) {
    #secret
    {
        display: block;
        position: absolute;
        top: 0;
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        background-image: url(OpenMeOnPC.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}